<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.gestiondeventesConnectionString"
            connectionString="Data Source=dargonzo.database.windows.net;Initial Catalog=gestiondeventes;User ID=dargonzo;Password=Gonzo2022"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.gestion_Des_ventes_PFEConnectionString"
            connectionString="Data Source=IMAD\SQLEXPRESS;Initial Catalog=gestion_Des_ventes_PFE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>